
.challenge-wrapper {
  height: calc(90vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;                
  text-align: center;
}

.challenge-trophy {
  width: min(90vw, 630px);  
  height: auto;
}

.challenge-btn {
  padding: 0.9rem 5rem;
  font-size: 1.2rem;
  color: #ffffff;
  background: #439395;      
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-weight: bold;
}

.challenge-btn:hover {
  opacity: 0.85;
}

