.UniversalCard-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px 24px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  position: relative; /* 배지 absolute 위치를 위해 필요 */
}

.UniversalCard-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.UniversalCard-header {
  position: relative;
}

.UniversalCard-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-left: 10px;
}

.UniversalCard-content {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 3);
  color: #555;
  font-size: 15px;
  margin: 12px 0 0 0;
  margin-top: 20px;
  margin-left: 10px;
  max-width: calc(100% - 160px);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.UniversalCard-button {
  padding: 10px 15px;
  background-color: #a2a2a2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
  text-decoration: none;
}

.UniversalCard-button:hover {
  background-color: #666;
}

/* 오른쪽 상단 배지 위치 */
.UniversalCard-badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 16px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 12px;
  margin: 0;
}

.UniversalCard-초급 {
  background-color: #d1eceb;
  color: #222;
}

.UniversalCard-중급 {
  background-color: #73bfb8;
  color: #fff;
}

.UniversalCard-고급 {
  background-color: #3e8e8c;
  color: #fff;
}

.UniversalCard-category {
  font-size: 15px;
  color: #666;
  margin: 4px 0 0 0;
}

.UniversalCard-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding-top: 16px;
  margin-left: 10px;
}

@media (max-width: 480px) {
  .UniversalCard-card {
    padding: 16px;
    height: auto;
  }

  .UniversalCard-title {
    font-size: 16px;
  }

  .UniversalCard-content {
    font-size: 14px;
    max-height: calc(1.5em * 4);
    max-width: 100%;
  }

  .UniversalCard-button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .UniversalCard-badge {
    padding: 5px 10px;
    font-size: 12px;
  }

  .UniversalCard-category {
    font-size: 13px;
  }

  .UniversalCard-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
